body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#display {
    background-color: #333;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.btn.operator {
    background-color: #f7b731;
}

#zero {
    grid-column: 1 / 3;
  }

.btn:active {
    background-color: #ddd;
}